
<br/>
<p style="font-size:24px">
    Established in 2012, Siddbetter develops interactive games for 
    mobile platform, with a specific focus on iPhone. We have released 
    more than 8 games/apps in App Store in past 5 years. 

    Our mission is to become a premier global mobile gaming company 
    that provides entertainment for all ages. 
    
</p>
<br/>
<ul>
  <li>We make games <a href="http://www.siddbetter.com"> Our Games</a></li>
  <li>We do algorthmic Trading <a href="http://www.siddbetter.com/trading"> Trading Engine</a></li>
</ul>

<br/><br/>
<h6>Artifical Intelligence</h6>
<p>
  
  We also work in artificial intelligence for making algorthmic trading models.
  Our work helps is in keeping up with the trends in big data 
  (past years market data), machine learning, natural language processing, 
  for purpose of building model for finding patterns in the market data for predicitve trading.
</p>

<p>
    We are working in artificial intelligence for building product for 
    processing text, images for solving real world problems.
    
    <br/>
    Extensive work in Cloud Computing (AWS) services and infrastructure. 
    Developed various app/services using AWS services like Serverless, Polly,
    Recognition, Comprehend, NER, NLP and voice-enabled  Alexa etc.   

    Machine Learning<br/> 
    R, Python SciKit Libraries, Deep Learning Pandas and Keras, NLP (Natual Language Processing) GATE and LingPipe,  Voice enabled services Polly and Alexa.
</p>
      
<br/>    
<br/>    
<br/>
<div class="row">
  <div class="col-md-8">
      <h3>Kapil Siddharth</h3>
      <p>Director of Product Development</p>
      25 years of IT development, architecting, product planning and 
      business platform modernization 
      <br/>     <br/>
      Kapil graduated from Delhi Institute of Technology in 1993 in Computer Engineering.
      <br/>     <br/>
      Worked in technical, managerial and sales roles for 18 years as
      Senior Solutions Architect, Managing and Mentoring Architects, RFP Proposal Lead Architect in consultancies companies like 
      
      HCL Technologies, NIIT Technologies, and Amsys Technologies and lead product development for several clients and ODC.
  </div>
  <div class="col-md-3">
     <img src="assets/kapil.jpg" height="300"><img>
  </div>
</div>
